version: "3.8"

services:
  gateway:
    image: consensys/fc-retrieval/gateway:dev
    container_name: gateway
    networks:
      - shared
    ports:
      - "${BIND_REST_API}:${BIND_REST_API}"
      - "${BIND_PROVIDER_API}:${BIND_PROVIDER_API}"
      - "${BIND_GATEWAY_API}:${BIND_GATEWAY_API}"
      - "${BIND_ADMIN_API}:${BIND_ADMIN_API}"
    volumes:
      - ./logs:${LOG_DIR}
    env_file:
      - .env
     
networks:
  shared:
    name: shared
    external: true
